body {
	font-family: Arial, sans-serif;
	padding: 0;
	margin: 0;
	color: #222222;
}
 header {
 	background: url(../img/first-bg.jpg) no-repeat center top / cover;
 	padding-bottom: 160px;
 }

 div {
 	box-sizing: border-box;
 }

 nav {
 	float: right;
 	margin-top: 50px;
 }

 .clearfix {
 	content: '';
 	display: table;
 	width: 100%;
 	clear: both;
 }

 .container {
 	width: 930px;
 	margin: 0 auto; 
 }
 .logo {
	margin-top: 41px;
	float: left;
 }

 .menu {
 	padding: 0;
 	margin: 0;
 	display: block;
 }

 .menu li {
 	float:left;
 	display: block;
 	margin-right: 41px;
 	font-size: 15px;
 }

 .menu li a {
 	color: #fff;
 	text-decoration: none;
 	text-transform: uppercase;
 }

.titles_first {
	font-size: 40px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin-top: 180px;
}

h1 {
	font-size: 75px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin: 15px;

}

.button {
	background: #fed136;
	color: #484543;
	border-radius: 3px;
	display: block;
	width: 240px;
	padding: 20px 0;
	margin: 0 auto;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	margin-top: 50px;
}

.title {
	padding-top: 90px;
}

.title h2 {
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
}

.title p {
	color: #777777;
	text-align: center;
	font-size: 16px;
	margin-top: 10px;
}

.services {
	margin-top: 80px;
	margin-bottom: 120px;
}

.services_item {
	width: 270px;
	float: left;
	text-align: center;

}

.services_item h3 {
	font-size: 18px;
	margin-bottom: 5px;
}

.services_item p {
	font-size: 14px;
	color: #777777;
	line-height: 1.55em;
}

.services_item:last-child {
	float: right;
}

.services_item:nth-child(2) {
	margin-left: 60px;
}

#portfolio {
	background: #f7f7f7;
	padding-bottom: 120px;
}

.works img {
	float: left;
}

.works {
	margin-top: 70px; 
}

.works img:last-child {
	float: right;
}

.works img:nth-child(2) {
	margin-left: 32px;
}

.text_2{
	word-spacing: 10px;
}

.text_3 {
	float: left;
	text-align: right;
	width: 310px;
}

.text_3 h3 {
	font-size: 18px;
	margin-bottom: 5px;
	text-transform: uppercase;
}

.story_1 p {
	font-size: 14px;
	color: #777777;
	line-height: 1.55em;
	text-align: right;
}

.story_1 {
	margin-top: 50px;
}

.picture_1 img{
	float: right;
	margin-right: 370px;
}

.text_4 {
	float: right;
	text-align: left;
	width: 310px;
}

.text_4 h3 {
	font-size: 18px;
	margin-bottom: 5px;
	text-transform: uppercase;
}

.story_2 p {
	font-size: 14px;
	color: #777777;
	line-height: 1.55em;
	text-align: left;
}

.story_2 {
	margin-top: 50px;
}

.picture_2 img{
	float: left;
	margin-left: 370px;
}

.picture_4 img{
	float: left;
	margin-left: 370px;
	padding-bottom: 100px;
}

#contact {
	background: #f7f7f7;
	padding-bottom: 120px;
}

form{
	width: 450px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px #cccccc;
}

input {
    height: 40px;
    width: 95%;
    margin: 20px 0 10px 0;
    padding: 2px 5px;
    border: 1px solid #cccccc;
    vertical-align: middle;
}

input[type="submit"] { 
    display: inline-block;
    width: 240px;
    height: 50px;
    margin: 20px 115px;
    padding: 6px 15px;
    background: #fed136;
	color: #484543;
    border: none;
    border-radius: 3px;
    text-align: center;
	font-weight: bold;
	font-size: 16px;
}

footer p {
	font-size: 14px;
	color: #777777;
	line-height: 1.55em;
	text-align: center;
	margin: 30px;
}